@using Microsoft.AspNetCore.Http
@using BookingWebsite.Extensions
@using BookingWebsite.Utility

@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Open Properties</title>

    <environment include="Development">
        @*<link rel="stylesheet" href="~/css/MyStyle.css"/>*@
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" herf="~/css/jquery.timepicker.css" />
        <link rel="stylesheet" herf="~/css/jquery.timepicker.min.css" />
        <link rel="stylesheet" herf="~/css/jquery-ui.css" />
        <link rel="stylesheet" herf="~/css/jquery-ui.min.css" />
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" herf="~/css/jquery.timepicker.css" />
        <link rel="stylesheet" herf="~/css/jquery.timepicker.min.css" />
        <link rel="stylesheet" herf="~/css/jquery-ui.css" />
        <link rel="stylesheet" herf="~/css/jquery-ui.min.css" />
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    </environment>


</head>
<body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">Open Properties</a>


        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" asp-area="Customer" asp-controller="Home" asp-action="Index">Home</a></li>
                @if (User.IsInRole(SD.CustomerEndUser))
                {
                    <li class="nav-item"><a class="nav-link" asp-area="Admin" asp-controller="Appointments" asp-action="Index">My Appointments</a></li>
                }
                <li class="nav-item"><a class="nav-link" asp-area="Customer" asp-controller="Home" asp-action="Index">Help</a></li>
                <li class="nav-item"><a class="nav-link" asp-area="Customer" asp-controller="Home" asp-action="Index">Contact Us</a></li>

                @if (User.IsInRole(SD.SuperAdminEndUser) || User.IsInRole(SD.AdminEndUser) || User.IsInRole(SD.Employee))
                {
                    <li class="nav-item dropdown text-white-50">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropDownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Management
                        </a>

                        <div class="dropdown-menu dropdown" aria-labelledby="navbarDropDownMenuLink">
                            <a class="dropdown-item"></a>
                            <a class="dropdown-item" asp-area="Admin" asp-controller="Appointments" asp-action="Index">Appointments</a>
                            <a class="dropdown-item" asp-area="Admin" asp-controller="Products" asp-action="Index">Properties</a>
                            <a class="dropdown-item" asp-area="Admin" asp-controller="ProductTypes" asp-action="Index">Property Types</a>
                            <a class="dropdown-item" asp-area="Admin" asp-controller="Tags" asp-action="Index">Property Tags</a>
                            <a class="dropdown-item" asp-area="Admin" asp-controller="User" asp-action="Index">Employee Users</a>
                            <a class="dropdown-item" asp-area="Admin" asp-controller="AdminUsers" asp-action="Index">Users</a>
                            <a class="dropdown-item" asp-area="Admin" asp-controller="Branches" asp-action="Index">Branches</a>
                        </div>

                        <
                    </li>

                }


                @if (HttpContextAccessor.HttpContext.Session.Get<List<int>>("ssShoppingCart") != null)
                {
                    <li style="color: white">
                        <a asp-area="Customer" asp-controller="ShoppingCart" asp-action="Index" class="nav-link">
                            <i class="fas fa-shopping-cart"></i> &nbsp;
                            @{
                                var count = HttpContextAccessor.HttpContext.Session.Get<List<int>>("ssShoppingCart").Count;
                            }
                            (@count)
                        </a>
                    </li>
                }
                else
                {
                    <li style="color: white">
                        <a asp-area="Customer" asp-controller="ShoppingCart" asp-action="Index" class="nav-link">
                            <i class="fas fa-shopping-cart"></i> &nbsp;
                            (0)
                        </a>
                    </li>
                }
            </ul>

        </div>
        <div>
            <partial name="_LoginPartial" />
        </div>
    </nav>


    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - BookingWebsite</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/jquery-ui.js" asp-append-version="true"></script>
        <script src="~/js/jquery-ui.min.js" asp-append-version="true"></script>
        <script src="~/js/jquery.timepicker.js" asp-append-version="true"></script>
        <script src="~/js/jquery.timepicker.min.js" asp-append-version="true"></script>
        <script src="https://cloud.tinymce.com/5/tinymce.min.js?apiKey=5l144yo2k2m2sat6wohb1igysfvf7n75zixcggnb23h91rt4"></script>

    </environment>
    <environment exclude="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/jquery-ui.js" asp-append-version="true"></script>
        <script src="~/js/jquery-ui.min.js" asp-append-version="true"></script>
        <script src="~/js/jquery.timepicker.js" asp-append-version="true"></script>
        <script src="~/js/jquery.timepicker.min.js" asp-append-version="true"></script>
        <script src="https://cloud.tinymce.com/5/tinymce.min.js?apiKey=5l144yo2k2m2sat6wohb1igysfvf7n75zixcggnb23h91rt4"></script>

    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
